<?xml version="1.0" encoding="utf-8" ?>
<targets>
	<target targetIp="192.168.200.111" targetName="2ndPC" group="2nd"/>
	<target targetIp="127.0.0.3" targetName="3pc" group="111"/>
	<target targetIp="127.0.0.4" targetName="3pc" group="1group"/>
	<target targetIp="127.0.0.5" targetName="3pc" group="1group"/>
</targets>
